
.categoryLabelWrapper{
    height: 50px;
    display: flex;
    align-items: center;
}

.categoryLabel{
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,max-content);
    column-gap: 10px;
}

.categoryWrapper{
    padding: 0 2rem;
    background-color:  rgb(245, 245, 250);
    display: flex;
    gap:1.5rem ;
}

.categoryLabel{
    width: fit-content;
}

.categoryLabel span:first-child{
    border-radius:20px;
    color:grey;
    background-color:white;
    padding:0 0.5rem;
}

.categoryLabel span:last-child{
    border-radius:20px; 
    color:rgb(129, 129, 161);
    background-color:white;
    padding:0 0.5rem;
}

.productDetails > div{
   box-sizing: border-box;
    padding: 0.5rem 1rem; 
    background-color: white;
}

.productDetails > div:last-child{
    border-radius: 5px;
}

.productDetails{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 15px;
}

.productGallery{
    display: grid;
    justify-content: space-between;
}

.cardInfo{
    background-color:white;
    display:none;
    border-bottom-left-radius:inherit;
    border-bottom-right-radius:inherit;
    gap:7px;
}


.flexColumn{
    gap: 7px;
    flex-direction: column;
}

.flexRow{
    flex-direction: row;
}

.instructions.cardDetails{
    font-size:14px;
    font-weight: lighter;
}

.productLocationWrapper{
    background-color:  rgb(245, 245, 250);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0px;
}

.productLocationContainer{
    grid-template-columns:repeat(3,1fr);
    grid-auto-flow:column;
    overflow-y: scroll;
    display: grid;
    max-height: 100%;
}

.locationWrapper{
    border-bottom:solid 2px rgb(245, 242, 242);
    height:50px;
    padding-left:1rem;
    position:relative;
    min-width:fit-content;
    flex-grow:1;
    background-color:white;
    display:flex;
    align-items:center
}

.locationWrapper:hover .location{
    color:  rgb(11, 206, 11);
}

.offcanvasWrapper{
    display:flex;
    width:100%;
    height:100%;
    background-color:  rgba(88, 87, 87, 0.2);
}

.canvas{
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:rgba(122, 122, 122, 0.5);
    right: -100vw;
    top: 0;
    z-index: 100000;
    display: flex;
    transition: right 0.1s,
}

.canvas[aria-checked="true"]{
    right: 0;
    transition-duration:2ms;
}

.imageTopRadius{
    border-top-left-radius:inherit;
    border-top-right-radius:inherit
}

.imageLeftRadius{
    border-top-left-radius:inherit;
    border-bottom-left-radius: inherit;
}

