
.formLabels{
    display: block;
}

.inputWrapper{
    margin-top: 20px;
}

.validationText{
    display: none;
}

.formTextArea{
    height: 150px;
    width: 100%;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 28px;
}

.productWrapper{
    box-sizing: border-box;
    margin: 50px 0;
    width: 65%;
    height: fit-content;
    padding: 2em;
    box-shadow: 2px 2px grey;
    background-color: white;
}

.addProduct{
    background-color: rgb(245, 245, 250);
    display: flex;
    justify-content: center;
}

.productForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropDown{
    position:absolute;
    line-height:56px;
    bottom: 0;
    width: fit-content;
    display: block;
}

.dropDownWrapper{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:right;
    align-items:center;
    padding-right:15px;
    cursor:pointer
}

.fileInput{
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.fileLabel{
    width: 90px;
    background-color:rgb(133, 141, 156);
    height: 90px;
    border-radius: 45px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin:10px 0;
}

.filePlus{
    position: absolute;
    font-size: 40px;
    color: white;
}

.imageDisplay{
    margin-bottom:0;
    display:flex;
    padding:0;
    margin-left:5px;
    height: 90px;
    min-width: 90px;
    flex-grow: 1;
}

.imageCover{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.4);
    display: none;
    top: 0;
}

.imageList{
    list-style:none;
    width:90px;
    margin-right:10px;
    position:relative;
    cursor: pointer;
}

.imageWrapper:hover > .imageCover{
    display: block;
}

.imageIcons{
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.cancelWrapper{
    background-color: black;
   float: right;
}

.reloadWrapper{
    background-color:rgb(133, 141, 156);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.images{
    height:100%;
    width:100%;
    object-fit: fill;
}

.reloadWrapper:focus{
    background-color: coral;
}

.listChild{
    height: 100%;
    width: 100%;
    display: block;
}

.imageWrapper{
    display: none;
    position: relative;
}

.loaderWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 125, 125);
}

.pageIndicator{
    height:50px;
    width:100%;
    margin-left:auto;
    margin-bottom:20px;
    margin-right:auto; 
    border-radius:50px;
    padding-left:50px;
    position:relative;
}

.pageIndicator div{
    width:50%;
    height:100%;
    right:0;
    border-radius:50px;
    position:absolute;
    top:0;
    padding-left:50px;
}

.headings{
    display:flex;
    justify-content:space-between;
    padding:0 30px;
    align-items:center;
}

.formInputs:focus ~.labelSpan.productLabelSpan{
    color:green;
}

.formInputs:valid ~ .labelSpan.productLabelSpan{
    color: green;
}

.formInputs:disabled ~.labelSpan.productLabelSpan{
    color: green;
}

.formInputs.productFormInputs{
    outline: solid 0.3px rgb(17, 15, 15);
    border: none;
}

.formInputs.productFormInputs:valid{
    outline: solid 2px green;
}

.selectList{
    border-style: solid none;
    border-width: 0.5px;
    border-color: rgb(245, 245, 250);
    height:50px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    cursor:pointer;
    margin: 0;
}
.selectList:hover{
    background-color: rgb(245, 245, 250);
}

.selectList a:hover {
    background-color: inherit;
}

.listHeader{
    padding:0.5rem 1rem;
    width: 100%;
    height:25px;
    background-color:grey;
    display:block;
    color:white;
    box-sizing:content-box;
}

.listHeader[style*="display:block"] + .selectList{
    border-top: none;
}

.textBox{
    top:0;
    height:56px;
}

.formInputs:focus ~.labelSpan.textBox{
    top: -28px;
}

.formInputs:valid ~ .labelSpan.textBox, .formInputs:disabled ~ .labelSpan.textBox{
    top: -28px;
}

.hideList{
    display:none;
}

