
.forms{
    position: relative;
}

.editSpan{
    right: 15px;
    color: orangered;
    cursor: pointer;
}

.eyeSlashFill{
    font-size:20px;
    display:inline;
}

.eyeSlashFillToggle{
    display: none;
}

.eyeFill{
    font-size:20px;
    display:none;
}

.eyeFillToggle{
    display: inline;
}

.passwordStrengthIndicator{
    height: 3px;
    width:32%;
    margin-top: 10px;
}

.primaryPage{
    width:55%;
    position: relative;
    top: 100px;
    animation: verticalTransition 0.2s linear 1 normal forwards;
}

.passwordResetLink{
    text-decoration:none;
    color:orangered;
    width:100%;
    text-align:center;
    display: block;
}

.passwordResetLink:hover{
    background-color:rgb(252, 244, 241);
    color:orangered;
}

.secondaryPage{
    width:55%;
    position: relative;
    left: 100px;
    animation: horizontalTransition 0.2s linear 1 normal forwards;
}

.passwordIndicatorWrapper{
    display: none; 
}

.passwordIndicatorDisplay{
    display:block;
}

.validationTagsDisplay{
    display: none;
}

.progressBar{
    animation: linearTransition 0.7s linear infinite normal;
    width: 50%;
    height:7px;
    border-radius: 7px;
    background-color: orangered;
    animation-play-state: paused;
}

.progressBarParent{
    width:70%;
    overflow:hidden;
    border-radius: 7px;
    background-color: rgb(212, 209, 209);
    display: none;
}

@keyframes linearTransition{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(110%);
    }
}

@keyframes verticalTransition {
   from{
       top: 100px;
   }

   to{
       top: 0;
   }
}

@keyframes horizontalTransition {
    from{
        left: 100px;
    }
    to{
        left:0;
    }
}

@keyframes translateButton {
    from{
        transform: translateZ(0);
    }

    to{
        transform: translateZ(20px);
    }
}
 
